<section>
  <div class="categories">
    <h4>
      Discover World
    </h4>
    <div class="categories-filter">
      <a href="#">Recommended</a>
      <a href="#">Popular Places</a>
      <a href="#">Trip’s</a>
    </div>
    <div class="categories-main">
      <div class="cat-inner">
        <div class="cat-elements">
          <div class="cat-photo">
            <img src="../../assets/images/svgs/Moonlight Night.svg" alt="Moonlight Night image">
          </div>
          <div class="cat-info">
            <h5>Moonlight Night</h5>
          </div>
        </div>
        <div class="cat-elements">
            <div class="cat-photo">
              <img src="../../assets/images/svgs/Sahara Desert.svg" alt="Sahara Desert image">
            </div>
            <div class="cat-info">
              <h5>Moonlight Night</h5>
            </div>
        </div>
        <div class="cat-elements">
            <div class="cat-photo">
              <img src="../../assets/images/svgs/Night Camping.svg" alt="Night Camping image">
            </div>
            <div class="cat-info">
              <h5>Moonlight Night</h5>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
