<section>
  <div class="categories">
    <h4>
      Discover World
    </h4>
    <div class="categories-filter">
      <a href="#">Recommended</a>
      <a href="#">Popular Places</a>
      <a href="#">Trip’s</a>
    </div>
    <div class="categories-main">
      <div class="cat-inner">
        <div class="cat-elements">
          <div class="cat-like">
            <button class="like 1">
              <img src="../../assets/images/svgs/Like.svg" alt="Like icon">
            </button>
            <div class="like-red">
              <img src="../../assets/images/svgs/Like red.svg" alt="Red like icon">
            </div>
          </div>
          <div class="cat-photo elem1">
            <img src="../../assets/images/svgs/Moonlight Night.svg" alt="Moonlight Night image">
          </div>
          <div class="cat-info">
            <h5>Moonlight Night</h5>
            <div class="city">
              <img src="../../assets/images/svgs/Plase.svg" alt="Plase icon">
              <p>Canada</p>
              <img src="../../assets/images/svgs/Rate star.svg" alt="Rate star icon">
              <p>4.7</p>
            </div>
          </div>
        </div>
        <div class="cat-elements">
          <div class="cat-like">
            <button class="like like2">
              <img src="../../assets/images/svgs/Like.svg" alt="Like icon">
            </button>
            <div class="like-red">
              <img src="../../assets/images/svgs/Like red.svg" alt="Red like icon">
            </div>
          </div>
          <div class="cat-photo elem2">
            <img src="../../assets/images/imgs/Sahara desert.png" alt="Sahara Desert image">
          </div>
          <div class="cat-info">
            <h5>Moonlight Night</h5>
            <div class="city">
              <img src="../../assets/images/svgs/Plase.svg" alt="Plase icon">
              <p>Africa</p>
              <img src="../../assets/images/svgs/Rate star.svg" alt="Rate star icon">
              <p>4.7</p>
            </div>
          </div>
        </div>
        <div class="cat-elements">
          <div class="cat-like">
            <button class="like like3">
              <img src="../../assets/images/svgs/Like.svg" alt="Like icon">
            </button>
            <div class="like-red">
              <img src="../../assets/images/svgs/Like red.svg" alt="Red like icon">
            </div>
          </div>
          <div class="cat-photo elem3">
            <img src="../../assets/images/svgs/Night Camping.svg" alt="Night Camping image">
          </div>
          <div class="cat-info">
            <h5>Moonlight Night</h5>
            <div class="cat-stars">
              <div class="city">
                <img src="../../assets/images/svgs/Plase.svg" alt="Plase icon">
                <p>New York</p>
                <img src="../../assets/images/svgs/Rate star.svg" alt="Rate star icon">
                <p>4.7</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="event-block">
    <div class="main-info">
      <h5>
        Event Dates
      </h5>
      <div class="event-date">
        <a href="#">January 15-2022</a>
      </div>
    </div>
    <div class="date">
      <ul>
        <li>
          <p>Mo</p> 
          <span class="yel-dot"></span>
          12
        </li>
        <li>
          <p>Tu</p> 
          <span class="yel-dot"></span>
          13
        </li>
        <li>
          <p>We</p> 
          <span class="yel-dot"></span>
          14
        </li>
        <li>
          <p>Th</p> 
          <span class="yel-dot"></span>
          15
        </li>
        <li>
          <p>Fr</p> 
          <span class="yel-dot"></span>
          16
        </li>
        <li>
          <p>St</p> 
          <span class="yel-dot"></span>
          17
        </li>
        <li>
          <p>Su</p> 
          <span class="yel-dot"></span>
          18
        </li>
        <li>
          <p>Mo</p> 
          <span class="yel-dot"></span>
          19
        </li>
        <li>
          <p>Tu</p> 
          <span class="yel-dot"></span>
          20
        </li>
      </ul>
    </div>
    <div class="date-pic">
      <div class="date-big-picture">
        <img src="../../assets/images/svgs/Netherlands Travel Tour.svg" alt="Netherlands Travel Tour image">
        <div class="date-big-text">
          <p>Netherlands Travel Tour</p>
          <div class="text-rate">
            <img src="../../assets/images/svgs/Rate star.svg" alt="Rate star icon"> 
            <p>4.7</p>
          </div>
        </div>
        <img src="../../assets/images/svgs/Yellow button.svg" alt="Date yellow icon">
      </div>
      <div class="date-min-picture">
        <img src="../../assets/images/svgs/Spooky night.svg" alt="Spooky night image">
      </div>
      <div class="date-min-picture">
        <img src="../../assets/images/svgs/Flat adventure.svg" alt="Flat adventure image">
      </div>
    </div>
  </div>
</section>
