<header>
  <div class="header_inner">
    <div class="logo_plasement">
      <img src="../../assets/images/svgs/Logo.svg" alt="main logo">
    </div>
    <div class="searcher">
      <div class="input_box">
        <img src="../../assets/images/svgs/Searcher.svg" alt="Sercher image">
        <input type="text" placeholder="Search for places">
      </div>

      <button>
        <img src="../../assets/images/svgs/Settings.svg" alt="Settings button image">
      </button>

      <div class="hidden_settings">
        <h5>
          Searcher settings
        </h5>
        <p>Здесь могла быть ваша реклама но тут всего лишь недоделанное меню настроек</p>
      </div>

    </div>
    <div class="user_menu">
      <span class="gray-line"></span>
      <div class="user_plasement">
        <img src="../../assets/images/svgs/Plase.svg" alt="user plasement icon">
        <p>New York/ Dc</p>
      </div>
      <div class="user_cercle">
        <button class="user_notification">
          <img src="../../assets/images/svgs/notification.svg" alt="User notification icon">
          <div class="yellow-dot"></div>
        </button>
        <div class="avatar">
          <img src="../../assets/images/svgs/Avatar.svg" alt="User cercle avatar image">
        </div>
      </div>
    </div>
  </div>
</header>
