<section>
  <div class="right-side-collage">
    <div class="cat-like">
      <button class="like4">
        <img src="../../assets/images/svgs/Like.svg" alt="Like icon">
      </button>
      <div class="like-red">
        <img src="../../assets/images/svgs/Like red.svg" alt="Red like icon">
      </div>
    </div>
    <img src="../../assets/images/svgs/mountains-landscape.svg" alt="mountains-landscape image">
    <div class="collage-min">
      <img src="../../assets/images/svgs/Sand collage image.svg" alt="Sand collage image">
      <img src="../../assets/images/svgs/Forest collage image.svg" alt="Forest collage image">
      <img src="../../assets/images/svgs/Japan collage image.svg" alt="Japan collage image">
      <img src="../../assets/images/svgs/Jungle collage image.svg" alt="Jungle collage image">
    </div>
  </div>
  <div class="right-side-text">
    <div>
      <h5>Brazil Forest</h5>
      <img src="../../assets/images/svgs/book-saved.svg" alt="book-saved icon">
    </div>
    <p>
      I spend ten minutes or so doing a couple of Duolingo
      lessons in French so
    </p>
  </div>
  <div class="rightside-prise">
    <div class="currency">
      <p>
        per/person
      </p>
      <h5>
        $1540
      </h5>
    </div>
    <button>
      Book Travel
    </button>
  </div>
  <div class="rightside-other-services">
    <div class="service-element">
      <img src="../../assets/images/svgs/Nature lake.svg" alt="Nature lake image">
      <div class="service-text">
        <p>Nature Lake</p>
        <div class="other-text">
          <img src="../../assets/images/svgs/Plase.svg" alt="plase icon">
          <p>Afghanistan</p>
        </div>
      </div>
      <button class="like 1">
        <img src="../../assets/images/svgs/Like.svg" alt="Like icon">
      </button>
    </div>
    <div class="service-element">
      <img src="../../assets/images/svgs/Camel ride.svg" alt="Camel ride image">
      <div class="service-text">
        <p>Camel Ride</p>
        <div class="other-text">
          <img src="../../assets/images/svgs/Plase.svg" alt="Plase icon">
          <p>Srilanka</p>
        </div>
      </div>
      <button class="like 1">
        <img src="../../assets/images/svgs/Like.svg" alt="Like icon">
      </button>
    </div>
    <div class="service-element">
      <img src="../../assets/images/svgs/Mid forest.svg" alt="Mid forest image">
      <div class="service-text">
        <p>Mid Forest</p>
        <div class="other-text">
          <img src="../../assets/images/svgs/Plase.svg" alt="Plase icon">
          <p>Brazil</p>
        </div>
      </div>
      <button class="like 1">
        <img src="../../assets/images/svgs/Like.svg" alt="Like icon">
      </button>
    </div>
  </div>
</section>
