<nav>
  <ul>
    <li>
      <img src="../../assets/images/svgs/Dashboard.svg" alt="Dashboard icon">
      <a href="#">Dashboard</a>
      <div class="hidden-yellow-line"></div>
    </li>
    <li>
      <img src="../../assets/images/svgs/Notes.svg" alt="Note’s icon">
      <a href="#">Note’s</a>
      <div class="hidden-yellow-line"></div>
    </li>
    <li>
      <img src="../../assets/images/svgs/Theme.svg" alt="Theme icon">
      <a href="#">Theme</a>
      <div class="hidden-yellow-line"></div>
    </li>
    <li>
      <img src="../../assets/images/svgs/Account.svg" alt="Account icon">
      <a href="#">Account</a>
      <div class="hidden-yellow-line"></div>
    </li>
    <li>
      <img src="../../assets/images/svgs/Explore.svg" alt="Explore icon">
      <a href="#">Explore</a>
      <div class="hidden-yellow-line"></div>
    </li>
    <li>
      <img src="../../assets/images/svgs/graph.svg" alt="Graph icon">
      <a href="#">Graph</a>
      <div class="hidden-yellow-line"></div>
    </li>
    <li>
      <img src="../../assets/images/svgs/Massages.svg" alt="Messages icon">
      <a href="#">Messages</a>
      <div class="hidden-yellow-line"></div>
    </li>
    <li>
      <img src="../../assets/images/svgs/Nav-settings.svg" alt="Setting icon">
      <a href="#">Setting</a>
      <div class="hidden-yellow-line"></div>
    </li>
  </ul>
  <li class="exit-button">
    <img src="../../assets/images/svgs/logout.svg" alt="Setting icon">
    <a href="#">Sign Out</a>
  </li>
</nav>
